{% extends "base.html" %}

{% block title %}Cadastro{% endblock %}

{% block content %}

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Cadastrar</div>
      <div class="card-body">

        <form method="POST" action="{{ url_for('register')}}" role="form">
          {{ form.hidden_tag() }}
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-12">
                <div class="form-label-group">
                  <!-- <input type="text" id="firstName" class="form-control" placeholder="Nome Completo" required="required" autofocus="autofocus">
                  <label for="firstName">Nome Completo</label> -->
                  {{ form.fullname.label}}
                  {{ form.fullname|safe }}

                  {% if form.fullname.errors %}
                    <ul class="text-danger">
                      {% for error in form.fullname.errors %}
                          <li>{{ error }}</li>
                      {% endfor %}
                    </ul>

                  {% endif %}
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="lastName" class="form-control" placeholder="Last name" required="required">
                  <label for="lastName">Last name</label>
                </div>
              </div> -->
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="required">
              <label for="inputEmail">Email</label> -->
              {{ form.email.label}}
              {{ form.email|safe }}

              {% if form.email.errors %}
                    <ul class="text-danger">
                      {% for error in form.email.errors %}
                          <li>{{ error }}</li>
                      {% endfor %}
                    </ul>

                  {% endif %}
            </div>
          </div>
          <div class="form-group">
              <div class="form-label-group">
                <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="required">
                <label for="inputEmail">Email</label> -->
                {{ form.username.label}}
                {{ form.username|safe }}
              </div>
            </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required="required">
                  <label for="inputPassword">Senha</label> -->
                  {{ form.password.label}}
                  {{ form.password|safe }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <!-- <input type="password" id="confirmPassword" class="form-control" placeholder="Confirmar senha" required="required">
                  <label for="confirmPassword">Confirmar senha</label> -->
                  {{ form.confirm.label}}
                  {{ form.confirm|safe }}

                  
                </div>
              </div>
            </div>
          </div>
          <button type='submit' class="btn btn-primary ">Cadastrar</button>
        </form>

        <!-- <div class="text-center">
          <a class="d-block small mt-3" href="login.html">Login Page</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div> -->
      </div>
    </div>
  </div>


{% endblock %}
